[Desktop Entry]
Type=Application
Name=UnbloatedPad
Comment=A classic Notepad-style text editor
Comment[pt_BR]=Um editor de texto clássico ao estilo do Bloco de Notas
Comment[es]=Un editor de texto clásico al estilo del Bloc de notas
Comment[it]=Un editor di testo classico in stile Blocco note
Icon=org.unbloatedpad.Editor
Exec=upad %F
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
